<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyncPiwikToMSSQL.Properties.Settings.offLineBBHomeConnectionString"
            connectionString="Data Source=192.168.100.242\myzjdw2008;Initial Catalog=offLineBBHome;User ID=sa;Password=123456;Connection Timeout=120;"
            providerName="System.Data.SqlClient" />
        <add name="SyncPiwikToMSSQL.Properties.Settings.bbHomeConnectionString"
            connectionString="Data Source=10.0.0.9;Initial Catalog=bbHome;Persist Security Info=True;User ID=sa;Password=!@#qweasdzxc;Connection Timeout=120;"
            providerName="System.Data.SqlClient" />
        <add name="SyncPiwikToMSSQL.Properties.Settings.HolycaConnectionString"
            connectionString="Data Source=192.168.100.98;Initial Catalog=Holyca;User ID=sa;Password=!@#qweasdzxc;Connection Timeout=120;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <!-- 更新日期-->
    <add key="updateform" value="-20"/>
    <add key="token" value="453170c79e8f0ad5dcd1f0b2ce1ecf23"/>
  </appSettings>
  
  
  
    <system.serviceModel>
        <bindings>
          <netMsmqBinding>
            <binding name="NetMsmqBinding_IEmailService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="false" exactlyOnce="false" maxReceivedMessageSize="2147483647" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
              <security mode="None">
                <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
                <message clientCredentialType="Windows" />
              </security>
            </binding>
            <binding name="NetMsmqBinding_IWCFMSMQService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="false" exactlyOnce="false" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
              <security mode="None">
                <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
                <message clientCredentialType="Windows" />
              </security>
            </binding>
          </netMsmqBinding>
          
          
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPromotionEngineService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.0.77:1358/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPromotionEngineService"
                contract="PromotionReference.IPromotionEngineService" name="WSHttpBinding_IPromotionEngineService" />


          <endpoint address="net.msmq://10.0.0.87/Private/AutoWCFMSMQ" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IWCFMSMQService" contract="IWCFMSMQService" name="NetMsmqBinding_IWCFMSMQService" />
          <endpoint address="net.msmq://10.0.0.87/Private/AutoEmailMSMQ" binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IEmailService" contract="IEmailService" name="NetMsmqBinding_IEmailService" />

          
          
        </client>
    </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="720" />
  </system.web>
</configuration>